<header>
    <div id="hamburgerContainer">
        <img src="/images/hamburger_icon.svg" alt="Hamburger Icon" id="hamburger">
    </div>
    <a href="/" class="logoContainer">
        <img src="/images/postit_icon.svg" alt="Post It Icon" id="postIt">
        <h2 id="title">LISTS</h2>
    </a>
</header>