<div id="taskPopup" class="bodyNewTaskPopUp">
    <div id="newTaskCard">
        <form id="newPostForm">
            <input type="hidden" name="taskId" id="taskId">
            <input type="hidden" name="container" id="taskContainer">
            <h1 id="formTitle">TITLE</h1>

            <input id="titleInput" type="text" name="title" placeholder="Title" required>
            <input id="descriptionInput" name="description" placeholder="Description">
            <button class="validation" type="submit">Create New Task</button>
            <button type="button" onclick="closePopup(type='task')">Cancel</button>
        </form>
    </div>
</div>