<div id="sideMenu" class="open">
    <!-- <div class="createButton">
        <img src="/images/plus_icon.svg" alt="Plus Icon" id="plusIcon">
        <p>Create</p>
    </div> -->
    <div class="sortingButton">
        <img src="/images/task_icon.svg" alt="Task Icon">
        <p>All Lists</p>
    </div>
    <div class="sortingButton">
        <img src="/images/fav_icon.svg" alt="Fav Icon">
        <p>Favorites</p>
    </div>
    <div class="divider"></div>
    <div id="listsTitle">
        <p>Lists</p>
        <img src="/images/plus_icon.svg" alt="Plus Icon" id="plusIcon">
    </div>
    <ul>
        <% lists.forEach(element => { %>
            <li class="listItem" data-name="<%= element.name %>">
                <p><%= element.name %></p>
            </li>
        <% }) %>
    </ul>
</div>