<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Lists</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="" href="/styles/main.css">
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <%- include("partials/sideMenu.ejs") %>
        <div class="bodyContainer">
            <h1>No List</h1>
        </div>
        <script src="/scripts/script.js"></script>
    </body>
</html>
